<section id="experience">
	<div class="container">

		<!-- section title -->
		<h2 class="section-title wow fadeInUp">Bilgi Birikim</h2>
		<div class="spacer" data-height="60"></div>

		<div class="row">

			<div class="col-md-6">
				<h3 class="mb-4">Eğitim</h3>

				<div class="timeline edu bg-white rounded shadow-dark padding-30 overflow-hidden">

					@{
						var educations = ViewBag.Educations
						as List<ResumeProject.Entities.Education>;
					}

					@if (educations != null && educations.Any())
					{
						int delay = 0;
						foreach (var item in educations)
						{
							<div class="timeline-container wow fadeInUp" data-wow-delay="@(delay)s">
								<div class="content">
									<span class="time">@item.Tarih</span>
									<h3 class="title">@item.EgitimBolum</h3>
									<p>@item.EgitimOkul</p>
									<p>@item.Aciklama</p>
								</div>
							</div>

							delay += 2;
						}
					}

					<span class="line"></span>
				</div>
			</div>

			
			<!-- EXPERIENCE -->
			<div class="col-md-6">
				<h3 class="mb-4">Deneyimler</h3>
				<div class="spacer d-md-none d-lg-none" data-height="30"></div>
				<div class="timeline exp bg-white rounded shadow-dark padding-30 overflow-hidden">
				

				<div class="timeline exp bg-white rounded shadow-dark padding-30 overflow-hidden">

					@{
						var experiences = ViewBag.Experiences
						as List<ResumeProject.Entities.Experience>;
					}

					@if (experiences != null && experiences.Any())
					{
						int delay = 0;
						foreach (var item in experiences)
						{
							<div class="timeline-container wow fadeInUp" data-wow-delay="@(delay)s">
								<div class="content">
									<span class="time">@item.WorkPeriodDate</span>
									<h3 class="title">@item.Title</h3>
									<p>@item.CompanyName</p>
									<p>@item.Description</p>
								</div>
							</div>

							delay += 2;
						}
					}

					<span class="line"></span>
				</div>
			</div>

		</div>
	</div>
</section>
